ProjectTools/Library/
ProjectTools/Temp/FSTimeGet-c6f532c2fafdc304d8fcf06ee5826f57
ProjectTools/Temp/UnityLockfile
ProjectTools/Temp/workerlic
ProjectTools/Logs/AssetImportWorker0.log
ProjectTools/Logs/AssetImportWorker1.log
ProjectTools/Logs/shadercompiler-AssetImportWorker0.log
ProjectTools/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
ProjectTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectTools/Temp/FSTimeGet-300e93264c9878a4b88cef44463d694f
ProjectTools/Temp/FSTimeGet-fd0142d8434d4844d88d8372d3ef6d44
ProjectTools/.idea/.idea.ProjectTools/.idea/codeStyles/codeStyleConfig.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/contentModel.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/encodings.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/indexLayout.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/modules.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/projectSettingsUpdater.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/vcs.xml
ProjectTools/.idea/.idea.ProjectTools/.idea/workspace.xml
ProjectTools/.idea/.idea.ProjectTools/riderModule.iml
ProjectTools/.vs/ProjectTools/project-colors.json
ProjectTools/.vs/ProjectTools/v17/.suo
